
{{ define "head" }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
{{ end }}

<!DOCTYPE html>
<html lang="en">

{{ define "header" }}
<header class="sticky">
    <div class="row">
            {{ $cartSize := .BooksInCartCount }}
            {{if not .CurrUser.LoggedIn}}
            <button class="btn btn-primary navbarButton" id="loginButton">
                Log In
            </button>
            {{else}}
            <button class="btn btn-primary navbarButton" id="logoutButton">
                Logout
            </button>
            <button class="btn btn-primary navbarButton" id="navCart">
                Cart ({{$cartSize}})
            </button>
            <button class="btn btn-primary navbarButton" id="checkedOutBooks">
                Checked Out Books
            </button>
            {{end}}
            <button class="btn btn-primary navbarButton" id="navHome">
                Home
            </button>
    </div>
</header>
    <div class="row" name="logo" id="logo">
        <div style="font-size: 100px; text-align:center;">SJSU Library</h1>
    </div>

<script>
    $(document).ready(function () {
        $('#loginButton').click(function () {
            window.location.href = "/logIn/";
        });
        $('#navHome').click(function () {
            window.location.href = "/";
        });
        $('#logoutButton').click(function () {
            window.location.href = "/logout/";
        });
        $('#navCart').click(function () {
            window.location.href = "/cart/";
        });
        $('#checkedOutBooks').click(function () {
            window.location.href = "/checkedOutBooks/";
        });
    });
</script>
{{ end }}